<!DOCTYPE html>
<html lang="en" ng-app="Day06App">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
</head>
<body>
    
    <div class="container" ng-controller="Day06Ctrl as day06Ctrl">
        <div class="row">
            <div class="col-xs-12
                        col-sm-12
                        col-md-12
                        col-lg-12
                        text-center">
                <div class="jumbotron">
                    <h1>Day 06</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12
                        col-sm-12
                        col-md-12
                        col-lg-12">
                <form name="ItemForm" ng-submit="day06Ctrl.addItem()" novalidate>
                    <div class="form-group">
                        <label for="item">Item:</label>
                        <input type="text" class="form-control" name="item" id="item" ng-model="day06Ctrl.item" required>
                        <span id="help-block" class="help-block" ng-hide="ItemForm.item.$valid">Please enter name of item here</span>
                    </div>
                    <div class="form-group">
                        <label for"qty">Quantity:</label>
                        <input type="number" class="form-control" name="qty" id="qty" ng-model="day06Ctrl.quantity" required min="1">
                        <span id="help-block" class="help-block" ng-hide="ItemForm.qty.$valid">Please enter a valid quantity</span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success form-control" ng-disabled="ItemForm.$invalid">Add <i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12
                        col-sm-12
                        col-md-12
                        col-lg-12">
                <h1>Contents</h1>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="filter">Search: </label>
                        <input type="text" id="filter" name="filter" class="form-control" size="50" ng-model="day06Ctrl.filterText">
                        <button type="submit">Search</button>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Delete</th>
                        </tr>
                        <tr ng-repeat="item in day06Ctrl.cart | filter: {item: day06Ctrl.filterText}">
                            <td>{{ item.item }}</td>
                            <td>{{ item.quantity }}</td>
                            <td><button type="button" class="btn btn-default form-control" ng-click="day06Ctrl.delItem(i.item)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript"  src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript"  src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript"  src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>